<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">

		<title>Cache Admin</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/plugins/metisMenu/metisMenu.min.css">
		<link rel="stylesheet" href="/css/sb-admin-2.css">
		<link rel="stylesheet" href="/css/font-awesome-min.css">
	</head>
	<body>
	    <div id="wrapper">

	        <!-- Navigation -->
	        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	            <div class="navbar-header"><a class="navbar-brand" href="">Cache Admin</a></div>
	            <!-- /.navbar-header -->

	            <div class="navbar-default sidebar" role="navigation">
	                <div class="sidebar-nav navbar-collapse">
						<!-- data-toggle="modal" data-target="#myModal" -->
	                	<button type="button" class="btn btn-primary" onclick="return cfgBase();" width="50%">Nova Base</button>
	                	<button type="button" class="btn btn-success" width="50%" onClick="recarregar()">Atualizar</button>
	                	<div id="area-lateral"></div>
	                </div>
	                <!-- /.sidebar-collapse -->
	            </div>
	            <!-- /.navbar-static-side -->
	        </nav>

	        <div id="page-wrapper">
	            <div class="row">
	                <div class="col-lg-12" id="area-titulo">
	                </div>
	                <!-- /.col-lg-12 -->
	            </div>
	            <!-- /.row -->
	            <div class="row">
	                <div class="col-lg-12" id="area-notificacao">
	                </div>
	                <!-- /.col-lg-12 -->
	            </div>
	            <!-- /.row -->
	            <div class="row">
	                <div class="col-lg-12" id="area-tabela">
	                	<h1 class="page-header">Selecione um grupo...</h1>
	                </div>
	                <!-- /.col-lg-6 -->
	            </div>
	            <!-- /.row -->
        	</div>
        	<!-- /#page-wrapper -->
	    </div>
	    <!-- /#wrapper -->

        <script id="formulario-base" type="text/x-handlebars-template">
            <form method="post" id="form-cfg" class="configuracao">
                <fieldset>
                    <div class="form-group">
                        <label for="nome">Nome da Base</label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                    </div>
                    <div class="form-group">
                        <label for="grupo">Grupo</label>
                        <input type="text" class="form-control" id="grupo" name="grupo" required>
                    </div>
                    <div class="form-group">
                        <label for="url">URL da Base</label>
                        <input type="text" class="form-control" id="url" name="url" required>
                    </div>
                    <div class="form-group">
                        <label for="params">Parâmetros opcionais</label>
                        <input type="text" class="form-control" id="params" name="params">
                    </div>
                    <input type="hidden" id="pasta" name="pasta" required>
                </fieldset>
            </form>
        </script>

		<script id="template-titulo" type="text/x-handlebars-template">

			<h1 class="page-header">{{titulo}}</h1>
		</script>

		<script id="template-menu" type="text/x-handlebars-template">
			<ul class="nav" id="side-menu">
				{{#each grupos}}
					<li><a onClick="filtraBases('{{this}}')"><i class="fa fa-table fa-fw"></i> {{this}}</a></li>
				{{/each}}
			</ul>
		</script>

		<script id="template-tabela" type="text/x-handlebars-template">
			<div id="area-tabela" class="table-responsive">
				<table class="table table-striped">
		            <thead>
		                <tr>
		                    <th>Nome</th>
		                    <th>Pasta</th>
		                    <th>URL</th>
		                    <th>&nbsp;</th>
		                </tr>
		            </thead>
		            <tbody>
		            	{{#bases}}
				            <tr>
				            	<td>{{nome}}</td>
				            	<td><a onClick="abrePasta('{{pasta}}')"><em><h6>{{pasta}}</h6></em></a></td>
				            	<td><a href="http://{{url}}" target="blank">{{url}}</a></td>
				            	<td align="right">
									<button type="button" class="btn btn-default btn-circle" onClick="startaBase('{{id}}')" title="Startar a base">
										<i class="fa fa-play"></i>
									</button>
									<button type="button" class="btn btn-default btn-circle" onClick="descartaCache('{{id}}')" title="Descartar o cache">
										<i class="fa fa-recycle"></i>
									</button>
									<button type="button" class="btn btn-default btn-circle" onClick="descartaChaves('{{id}}')" title="Descartar as chaves">
										<i class="fa fa-key"></i>
									</button>
									<button type="button" class="btn btn-default btn-circle" onClick="cfgBase('{{id}}')" title="Editar informações">
										<i class="fa fa-pencil"></i>
									</button>
									<button type="button" class="btn btn-default btn-circle" onClick="apagarCache('{{id}}')" title="Excluir a base">
										<i class="fa fa-times"></i>
									</button>
				            	</td>
				            </tr>
		            	{{/bases}}
		            </tbody>
		        </table>
			</div>
		</script>

		<script id="template-alerta" type="text/x-handlebars-template">
			<div class="alert alert-{{tipo}} alert-dismissable">
        		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        		{{mensagem}}
        	</div>
		</script>

        <script id="template-progress" type="text/x-handlebars-template">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{percent}}%">
                    <span class="sr-only">{{percent}}%</span>
                </div>
            </div>
        </script>

	    <script src="js/jquery.min.js"></script>
	    <script src="js/handlebars-v2.0.0.js"></script>
	    <script src="js/bootstrap.min.js"></script>
		<script src="js/bootbox.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	    <script src="js/client_app.js"></script>
	</body>
</html>
